<div class="container">
  <p class="heading">Personal Details Form</p>
  <form class="myForm" [formGroup]="myDetails" (ngSubmit)="onSubmit()">
    <div class="all-fields">
      <div class="fields">
        <div class="input-label-group">
          <label for="" class="field-label">Firstname</label>
          <input
            type="text"
            placeholder="max 10 characters... "
            formControlName="firstname"
          />
        </div>
        <p
          class="invalid-message"
          *ngIf="
            myDetails?.get('firstname')?.touched &&
            myDetails?.get('firstname')?.errors
          "
        >
          <span *ngIf="myDetails?.get('firstname')?.hasError('required')">
            First name is required.</span
          >
          <span *ngIf="myDetails?.get('firstname')?.hasError('maxlength')"
            >Maximum 50 characters allowed.</span
          >
        </p>
      </div>
      <div class="fields">
        <div class="input-label-group">
          <label for="" class="field-label">Lastname</label>
          <input
            type="text"
            placeholder="max 10 characters... "
            formControlName="lastname"
          />
        </div>
        <p
          class="invalid-message"
          *ngIf="
            myDetails?.get('firstname')?.touched &&
            myDetails?.get('firstname')?.errors
          "
        >
          <span *ngIf="myDetails?.get('lastname')?.hasError('required')">
            Last name is required.</span
          >
          <span *ngIf="myDetails?.get('lastname')?.hasError('maxlength')"
            >Maximum 50 characters allowed.</span
          >
        </p>
      </div>
      <div class="fields">
        <div class="input-label-group">
          <label for="" class="field-label">Email</label>
          <input type="text" formControlName="email" />
        </div>
        <p
          class="invalid-message"
          *ngIf="
            !myDetails.get('email')?.valid && myDetails.get('email')?.touched
          "
        >
          Please enter valid email
        </p>
      </div>
      <div class="fields">
        <div class="input-label-group">
          <label class="field-label">Gender :</label>
          <div class="gender-radio" *ngFor="let _gender of genders">
            <label class="gender-label">
              <input
                type="radio"
                name="gender"
                [value]="_gender"
                formControlName="gender"
              />
              {{ _gender }}
            </label>
          </div>
        </div>
        <p
          class="invalid-message"
          *ngIf="
            !myDetails.get('gender')?.valid && myDetails.get('gender')?.touched
          "
        >
          Please select gender
        </p>
      </div>
      <div class="fields">
        <div class="input-label-group">
          <label for="" class="field-label">Married :</label>
          <input type="checkbox" formControlName="married" />
        </div>
      </div>
      <div class="fields">
        <div class="input-label-group">
          <label for="" class="field-label">Country :</label>
          <select name="country" id="" formControlName="country">
            <option value="{{ _country }}" *ngFor="let _country of country">
              {{ _country }}
            </option>
          </select>
        </div>
        <p
          class="invalid-message"
          *ngIf="
            !myDetails.get('country')?.valid &&
            myDetails.get('country')?.touched
          "
        >
          Please select country
        </p>
      </div>
      <button class="submit-btn" type="submit" [disabled]="!myDetails.valid">
        Submit
      </button>

      <button class="reset-btn" (click)="onReset()">Reset</button>
    </div>
  </form>
</div>
